.panel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.splash-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  max-width: 800px;
  height: 40vh;
  max-height: 600px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: auto;
  color: var(--primary-color-text);
  text-align: center;
  background-color: var(--primary-color);
  background-image: linear-gradient(rgb(255 255 255 / 25%), rgb(255 255 255 / 75%)), url("../../../assets/bgimage_splash.png");
  background-repeat: no-repeat;
  background-position: 0 0, -5rem 1rem; // '0 0' for color panel. '-5rem 1rem' for background image.
  border-radius: 1rem;
}

.enter-button {
  width: 50%;
  min-width: 5rem;
}

.version-text-container {
  display: flex;
  flex-direction: row-reverse;
}

.version-text {
  color: var(--primary-color);
}

@media screen and (max-width: 959px) {
  .splash-panel {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    padding-top: 4rem;
    padding-bottom: 6rem;
    margin: 0;
    background-position: 0 0, center 25vh;
    border-radius: 0%;
  }

  .enter-button {
    width: 50vw;
    min-width: 8rem;
    font-size: x-large;
  }

  .version-text-container {
    display: none;
    flex-direction: row-reverse;
  }
}
