<div>
  <div *ngFor="let version of recentVersions; let i = index">
    <p-panel header="v{{ version.name }} ({{ recentVersionDates[i] }})" [style]="{ 'margin-bottom': '1rem' }">
      <div *ngFor="let desc of version.descriptions">
        <p>{{ desc }}</p>
      </div>
    </p-panel>
  </div>
  <details *ngIf="foldEnable">
    <summary>過去のバージョン</summary>
    <div *ngFor="let version of oldVersions; let i = index">
      <p-panel header="v{{ version.name }} ({{ oldVersionDates[i] }})" [style]="{ 'margin-bottom': '1rem' }">
        <div *ngFor="let desc of version.descriptions">
          <p>{{ desc }}</p>
        </div>
      </p-panel>
    </div>
  </details>
</div>
