table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  border: solid;
  border-color: var(--primary-color);
  border-width: thin;
}

.short-col {
  width: 200px;
}

@media screen and (max-width: 959px) {
  .short-col {
    width: 30%;
  }
}
