<div>
  <!---->
  <!-- Introduction -->
  <!---->
  <p>このサイトは「御城プロジェクト:RE」のキャラクター管理のためのウェブツールです。</p>
  <p>以下のようなことをしたい場合に便利なツールがなかったので作りました。</p>
  <ul>
    <li>特定のバフ/デバフ持ちのキャラを調べたい。</li>
    <li>〇〇限定招城チケットの対象キャラを調べたい。未入手のキャラだけ確認したい。</li>
    <li>([大宰府と古代山城]など)特定キャラのみを対象にする特技/計略の対象キャラを一覧で確認したい。</li>
  </ul>
  <p>どこまで続けられるかはわかりませんが、よろしければ使ってみてください。</p>

  <!---->
  <!-- Main Menu -->
  <!---->
  <h3>メインメニュー</h3>
  <table>
    <colgroup>
      <col class="short-col" />
      <col class="long-col" />
    </colgroup>
    <tbody>
      <tr>
        <td>キャラクター一覧</td>
        <td>
          キャラクターを一覧で表示します。<br />
          フィルター条件やフリーテキストで検索することができます。
        </td>
      </tr>
      <tr>
        <td>キャラクター所持状況</td>
        <td>
          キャラクターごとの所持/未所持のステータスを登録する画面です。<br />
          登録情報はキャラクター一覧画面での表示や絞り込みに利用されます。<br />
          ログインユーザー限定の機能です。
        </td>
      </tr>
      <tr>
        <td>新規キャラクター登録</td>
        <td>
          ゲーム内に新規に実装されたキャラクター情報を登録する画面です。<br />
          基本的に管理人が更新しますが、どなたでも使っていただいてかまいません。<br />
          ログインユーザー限定の機能です。
        </td>
      </tr>
      <tr>
        <td>サポート</td>
        <td>
          更新情報（機能追加やバグ修正など）を確認できます。<br />
          要望やバグ報告等のお問合せもこちらからお願いします。
        </td>
      </tr>
      <tr>
        <td>ツール説明</td>
        <td>このページです。</td>
      </tr>
    </tbody>
    <p></p>
  </table>

  <!---->
  <!-- Icon Description -->
  <!---->
  <h3>アイコン説明</h3>
  <table>
    <colgroup>
      <col class="short-col" />
      <col class="long-col" />
    </colgroup>
    <tbody>
      <tr>
        <td><img src="../../../../../assets/icon_home_m.png" /></td>
        <td>ホーム画面に戻ります。</td>
      </tr>
      <tr>
        <td><img src="../../../../../assets/icon_sign_in.png" /><img src="../../../../../assets/icon_sign_out.png" /></td>
        <td>ログインまたはログアウトをします。</td>
      </tr>
      <tr>
        <td><img src="../../../../../assets/icon_filter.png" /></td>
        <td>表示するキャラクターの絞り込み条件を設定します。</td>
      </tr>
      <tr>
        <td><img src="../../../../../assets/icon_sort.png" /></td>
        <td>キャラクターの表示順序を設定します。</td>
      </tr>
      <tr>
        <td><img src="../../../../../assets/icon_search.png" /></td>
        <td>
          入力したテキストでの検索を行います。<br />
          詳しくは本ページ内「テキスト検索について」をご確認ください。
        </td>
      </tr>
      <tr>
        <td><img src="../../../../../assets/icon_view_mode.png" /></td>
        <td>キャラクター一覧画面での表示モードを切り替えます。</td>
      </tr>
      <tr>
        <td><img src="../../../../../assets/character_thumbnail.png" /></td>
        <td>
          サムネイル画像をクリックするとそのキャラクターの個別ページに移動します。<br />
          データ修正や画像追加も個別ページから行うことができます。
        </td>
      </tr>
    </tbody>
    <p></p>
  </table>

  <!---->
  <!-- Text Search -->
  <!---->
  <h3>テキスト検索について</h3>
  <table>
    <colgroup>
      <col class="short-col" />
      <col class="long-col" />
    </colgroup>
    <tbody>
      <tr>
        <td>検索できるデータ</td>
        <td>キャラクター名、CV、イラストレーター、特技・計略の説明テキストから検索することができます。</td>
      </tr>
      <tr>
        <td>タグ検索について</td>
        <td>
          「#正月」など、頭に「#」を付けて検索してください。<br />
          タグのリンクをクリックすることでも検索することができます。
        </td>
      </tr>
      <tr>
        <td>検索のコツ</td>
        <td>
          例えば隠密性能を持つキャラを検索したい場合、「敵から狙われず」と「敵から狙われない」のパターンがあります。<br />
          この場合は、「敵から狙われ」で検索すると両方のパターンを見つけることができます。
        </td>
      </tr>
    </tbody>
    <p></p>
  </table>
</div>
