.data-list-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    .search-text-input {
      width: calc(100% - 38px);
      max-width: 380px;
    }
  }

  // !!! ATTENTION !!!
  // Please be careful when you change these properties.
  // You shall check ListCharacterComponent::calcGridRowNum() too.
  .content {
    flex-grow: 1;
    margin: 0.5rem 0;
    overflow-y: auto;

    .grid-layout {
      display: grid;
      grid-template-columns: repeat(auto-fill, 160px);  // 160px: Thumbnail image size.
      gap: 12px;
      justify-content: space-between;
    }

    .list-layout {
    }

    .item {
      .hidden-info {
        display: none;
      }
    }

    .list-item {
      display: flex;
      margin-bottom: 1rem;
    }

    img {
      border-radius: 1rem;
    }

    .list-image {
      margin-right: 1rem;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  .short-col {
    width: 35%;
  }

  .long-col {}
}

:host ::ng-deep .paginator.p-paginator {
  .p-paginator-page {
    border-radius: 50%; // Circle.
  }

  .p-paginator-first {
    border-radius: 50%;
  }

  .p-paginator-prev {
    border-radius: 50%;
  }

  .p-paginator-next {
    border-radius: 50%;
  }

  .p-paginator-last {
    border-radius: 50%;
  }
}

@media screen and (max-width: 959px) {
  .data-list-view {
    .header {
      .header-left-div {
        width: auto;
      }

      .search-text-input {
        max-width: none;
      }
    }

    // !!! ATTENTION !!!
    // Please be careful when you change these properties.
    // You shall check ListCharacterComponent::calcGridRowNum() too.
    .content {
      font-size: xx-small;
      font-weight: lighter;

      .grid-layout {
        grid-template-columns: repeat(auto-fill, 80px);  // 60px: Thumbnail image size.
        gap: 6px;
        justify-content: space-around;
      }

      img {
        width: 80px;
        height: 80px;
        border-radius: 1rem;
      }

      .list-image {
        margin-right: 0.2rem;
      }
    }
  }
}
