<div class="data-list-view">
  <!---->
  <!-- Header Area -->
  <!---->
  <div class="header">
    <!-- Filter button -->
    <button pButton type="button" icon="pi pi-filter" (click)="onFilterButtonClick()" style="flex: none" title="フィルター設定"></button>

    <!-- Sort button -->
    <button pButton type="button" icon="pi pi-sort" (click)="onSortButtonClick()" style="flex: none" title="ソート設定"></button>

    <!-- Text search input. -->
    <div style="flex: auto">
      <span class="p-input-icon-right search-text-input">
        <i class="pi" [class.pi-times]="inputSearchText !== ''" (click)="onSearchTextClearButtonClick()"></i>
        <input
          type="text"
          pInputText
          id="ListCharacter_SearchTextInput"
          [(ngModel)]="inputSearchText"
          placeholder="Search"
          style="width: 100%"
          (keydown.enter)="onTextSearchButtonClick()"
          title="テキスト検索。タグ検索の場合は#を付けてください。"
        />
      </span>
      <button
        pButton
        type="button"
        icon="pi pi-search"
        [disabled]="inputSearchText === ''"
        (click)="onTextSearchButtonClick()"
        title="テキスト検索。タグ検索の場合は#を付けてください。"
      ></button>
    </div>

    <!-- Layout mode switch. -->
    <span class="p-buttonset button-group" style="flex: none">
      <button pButton type="button" icon="pi pi-list" [class.p-button-outlined]="!isListLayout" (click)="isListLayout = true" title="テーブル表示"></button>
      <button pButton type="button" icon="pi pi-th-large" [class.p-button-outlined]="isListLayout" (click)="isListLayout = false" title="アイコン表示"></button>
    </span>
  </div>

  <!---->
  <!-- Contents Area -->
  <!---->
  <div class="content" id="ListCharacter_Content">
    <div [class.grid-layout]="!isListLayout" [class.list-layout]="isListLayout">
      <div
        *ngFor="let i of paginator.rowIndexes"
        class="item"
        [class.list-item]="isListLayout"
        [class.list-margin-bottom]="i + paginator.firstItemIndex < filteredIndexes.length && isListLayout"
      >
        <div [id]="'ListCharacter_ThumbBox_' + i" class="image-box" [class.image-shade]="!ownershipStatues[i]" [class.list-image]="isListLayout">
          <img [id]="'ListCharacter_Thumb_' + i" (click)="onThumbnailClick(i)" />
        </div>
        <div>
          <table [id]="'ListCharacter_Table_' + i" [hidden]="!isListLayout">
            <colgroup>
              <col class="short-col" />
              <col class="long-col" />
            </colgroup>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!---->
  <!-- Footer Area -->
  <!---->
  <div class="footer">
    <p-paginator
      [rows]="paginator.rowNum"
      [first]="paginator.firstItemIndex"
      [totalRecords]="filteredIndexes.length"
      [pageLinkSize]="paginator.pageLinkNum"
      styleClass="paginator"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  </div>
</div>

<!----------------------------------------------------------------------------->
<!-- Filter setting dialog ---------------------------------------------------->
<!----------------------------------------------------------------------------->
<p-dialog header="フィルタ設定" [(visible)]="showFilterDialog" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false" styleClass="dialog">
  <app-character-filter-settings-form
    [(filterSetting)]="filterSetting"
    [hideButton]="true"
    (canceled)="onFilterSettingsDialogResult($event)"
  ></app-character-filter-settings-form>
  <ng-template pTemplate="footer">
    <div style="margin-top: 1rem">
      <p-button label="OK" icon="pi pi-check" [styleClass]="'p-button-text'" (onClick)="onFilterSettingsOkButtonClick()"></p-button>
      <p-button label="CLEAR" icon="pi pi-eraser" [styleClass]="'p-button-text'" (onClick)="onFilterSettingsClearButtonClick()"></p-button>
      <p-button
        label="CANCEL"
        icon="pi pi-times"
        [style]="{ 'margin-left': '.5rem' }"
        [styleClass]="'p-button-secondary p-button-text'"
        (onClick)="onFilterSettingsCancelButtonClick()"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<!----------------------------------------------------------------------------->
<!-- Sort setting dialog ---------------------------------------------------->
<!----------------------------------------------------------------------------->
<p-dialog header="ソート設定" [(visible)]="showSortDialog" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false" styleClass="dialog">
  <app-character-sort-settings-form
    [(sortSetting)]="sortSetting"
    [hideButton]="true"
    (canceled)="onSortSettingsDialogResult($event)"
  ></app-character-sort-settings-form>
  <ng-template pTemplate="footer">
    <div style="margin-top: 1rem">
      <p-button label="OK" icon="pi pi-check" [styleClass]="'p-button-text'" (onClick)="onSortSettingsOkButtonClick()"></p-button>
      <p-button
        label="CANCEL"
        icon="pi pi-times"
        [style]="{ 'margin-left': '.5rem' }"
        [styleClass]="'p-button-secondary p-button-text'"
        (onClick)="onSortSettingsCancelButtonClick()"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
