<div class="data-list-view">
  <!---->
  <!-- Header Area -->
  <!---->
  <div class="header">
    <!-- Filter button -->
    <div class="header-left-div">
      <button pButton type="button" icon="pi pi-filter" (click)="onFilterButtonClick()"></button>
    </div>

    <!-- Text search input. -->
    <div class="search-text-input">
      <span [class.p-input-icon-left]="inputSearchText === ''" [class.p-input-icon-right]="inputSearchText !== ''">
        <i class="pi" [class.pi-search]="inputSearchText === ''" [class.pi-times]="inputSearchText !== ''" (click)="inputSearchText = ''"></i>
        <input type="text" pInputText [(ngModel)]="inputSearchText" placeholder="Search" style="width: 100%" />
      </span>
    </div>

    <!-- Layout mode switch. -->
    <div>
      <span class="p-buttonset">
        <button pButton type="button" icon="pi pi-list" [class.p-button-outlined]="!isListLayout" (click)="isListLayout = true"></button>
        <button pButton type="button" icon="pi pi-th-large" [class.p-button-outlined]="isListLayout" (click)="isListLayout = false"></button>
      </span>
    </div>
  </div>

  <!---->
  <!-- Contents Area -->
  <!---->
  <div class="content" id="ListCharacter_Content">
    <div [class.grid-layout]="!isListLayout" [class.list-layout]="isListLayout">
      <div *ngFor="let i of paginator.rowIndexes" class="item" [class.list-item]="isListLayout">
        <div>
          <img [id]="'ListCharacter_Thumb_' + i" [class.list-image]="isListLayout" (click)="onThumbnailClick(i)" />
        </div>
        <div>
          <table [id]="'ListCharacter_Table_' + i" [hidden]="!isListLayout">
            <colgroup>
              <col class="short-col" />
              <col class="long-col" />
            </colgroup>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!---->
  <!-- Footer Area -->
  <!---->
  <div class="footer">
    <p-paginator
      [rows]="paginator.rowNum"
      [first]="paginator.first"
      [totalRecords]="filteredIndexes.length"
      [pageLinkSize]="paginator.pageLinkSize"
      styleClass="paginator"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  </div>
</div>

<!----------------------------------------------------------------------------->
<!-- Filter setting dialog ---------------------------------------------------->
<!----------------------------------------------------------------------------->
<p-dialog header="フィルタ設定" [(visible)]="showFilterDialog" [modal]="true" [draggable]="false" [resizable]="false" styleClass="dialog">
  <app-character-filter-settings-form [(filterSettings)]="filterSettings" buttonStyleClass="p-button-text"></app-character-filter-settings-form>
</p-dialog>
