<form>
  <div class="formgrid grid">
    <div class="field col">
      <label>所持状況</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of ownershipStatusTypeItems" class="field-checkbox">
          <p-radioButton
            [inputId]="'CharacterFilterSettingsForm_OwnershipStatusInput_' + item.value"
            name="CharacterFilterSettingsForm_OwnershipStatusInput"
            [value]="item.value"
            [(ngModel)]="filterSettings.ownershipFilterType"
            (onClick)="onOwnershipStatusTypeClick(item.value)"
          ></p-radioButton>
          <label [for]="'CharacterFilterSettingsForm_OwnershipStatusInput_' + item.value">{{ item.label }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col">
      <label>キャラクタータイプ</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of characterTypeItems" class="field-checkbox">
          <p-checkbox
            [inputId]="'CharacterFilterSettingsForm_CharacterTypeInput_' + item.value"
            name="CharacterFilterSettingsForm_CharacterTypeInput"
            [value]="item.value"
            [(ngModel)]="filterSettings.characterTypes"
          ></p-checkbox>
          <label [for]="'CharacterFilterSettingsForm_RarerityInput_' + item.value">{{ item.label }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col">
      <label>レアリティ</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of rarerityItems" class="field-checkbox">
          <p-checkbox
            [inputId]="'CharacterFilterSettingsForm_RarerityInput_' + item"
            name="CharacterFilterSettingsForm_RarerityInput"
            [value]="item"
            [(ngModel)]="filterSettings.rarerities"
          ></p-checkbox>
          <label [for]="'CharacterFilterSettingsForm_RarerityInput_' + item">★{{ item }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col">
      <label>武器タイプ</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of weaponTypeItems" class="field-checkbox">
          <p-checkbox
            [inputId]="'CharacterFilterSettingsForm_WeaponTypeInput_' + item.name"
            name="CharacterFilterSettingsForm_WeaponTypeInput"
            [value]="item.id"
            [(ngModel)]="filterSettings.weaponTypes"
          ></p-checkbox>
          <label [for]="'CharacterFilterSettingsForm_WeaponTypeInput_' + item.name">{{ item.name }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col">
      <label>地形タイプ</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of geographTypeItems" class="field-checkbox">
          <p-checkbox
            [inputId]="'CharacterFilterSettingsForm_GeographTypeInput_' + item.name"
            name="CharacterFilterSettingsForm_GeographTypeInput"
            [value]="item.id"
            [(ngModel)]="filterSettings.geographTypes"
          ></p-checkbox>
          <label [for]="'CharacterFilterSettingsForm_GeographTypeInput_' + item.name">{{ item.name }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col">
      <label>地域</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of regionItems" class="field-checkbox">
          <p-checkbox
            [inputId]="'CharacterFilterSettingsForm_RegionInput_' + item.name"
            name="CharacterFilterSettingsForm_RegionInput"
            [value]="item.id"
            [(ngModel)]="filterSettings.regions"
          ></p-checkbox>
          <label [for]="'CharacterFilterSettingsForm_RegionInput_' + item.name">{{ item.name }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col">
      <label>その他</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of othersItems" class="field-checkbox">
          <p-checkbox
            [inputId]="'CharacterFilterSettingsForm_OtherOptionInput_' + item.value"
            name="CharacterFilterSettingsForm_OtherOptionInput"
            [value]="item.value"
            [(ngModel)]="selectedOtherOptions"
          ></p-checkbox>
          <label [for]="'CharacterFilterSettingsForm_OtherOptionInput_' + item.value">{{ item.label }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col">
      <label>実装日</label>
      <div class="calendar-container">
        <p-calendar
          inputId="CharacterFilterSettingsForm_StartDateInput"
          name="CharacterFilterSettingsForm_StartDateInput"
          [(ngModel)]="filterSettings.startDate"
          dateFormat="yy/m/d"
          [showClear]="true"
        ></p-calendar>
        &nbsp;～&nbsp;
        <p-calendar
          inputId="CharacterFilterSettingsForm_EndDateInput"
          name="CharacterFilterSettingsForm_EndDateInput"
          [(ngModel)]="filterSettings.endDate"
          dateFormat="yy/m/d"
          [showClear]="true"
        ></p-calendar>
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------->
  <!-- Footer ----------------------------------------------------------------->
  <!--------------------------------------------------------------------------->
  <div *ngIf="!hideButton" style="margin-top: 1rem">
    <p-button label="OK" icon="pi pi-check" (onClick)="onOkClick()" [styleClass]="buttonStyleClass"></p-button>
    <p-button
      label="CANCEL"
      icon="pi pi-times"
      [style]="{ 'margin-left': '.5rem' }"
      (onClick)="onCancelClick()"
      [styleClass]="'p-button-secondary ' + buttonStyleClass"
    ></p-button>
  </div>
</form>
