<div *ngIf="teamMembers.length === 0 || isAllHidden">
  <p>キャラクターが登録されていません。</p>
  <p>「キャラクター一覧」画面から編成にキャラクターを追加してください。</p>
</div>
<div>
  <ul class="team-member">
    <li *ngFor="let member of teamMembers" draggable="true" [id]="'Team_' + iTeam + '_Member_' + member.id">
      <p-divider *ngIf="!member.hidden && member.onBorder" align="center"><b>編成枠</b></p-divider>
      <div class="list-item" [class.hidden]="member.hidden">
        <div class="image-column">
          <div [id]="'Team_' + iTeam + '_Member_ThumbBox_' + member.id" class="image-box" [class.image-shade]="!member.owned">
            <img [id]="'Team_' + iTeam + '_Member_Thumb_' + member.id" />
          </div>
          <div style="text-align: center">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-text"
              (click)="onTrashClick(member.id)"
            ></button>
          </div>
        </div>
        <div>
          <table [id]="'Team_' + iTeam + '_Member_Table_' + member.id">
            <colgroup>
              <col class="short-col" />
              <col class="long-col" />
            </colgroup>
          </table>
        </div>
      </div>
    </li>
    <!-- Dummy list element at the bottom of the list. -->
    <!-- It is needed to drag an element to the bottom. -->
    <li style="border: 0; list-style-type: none" id="dummy-member-element">&nbsp;</li>
  </ul>
</div>
