<div *ngIf="teamMembers.length === 0 || isAllHidden">
  <p>キャラクターが登録されていません。</p>
  <p>「キャラクター一覧」画面から編成にキャラクターを追加してください。</p>

  <p-divider></p-divider>

  <h3>キャラクター登録方法</h3>
  <ol>
    <li>キャラクター一覧ページで表示モードをテーブルモードにする。<img src="../../../../../assets/icon_view_mode.png" height="30px" /></li>
    <li>登録したいキャラにチェックをつける。<br /><img src="../../../../../assets/help_list_team_registration.png" height="150px" /></li>
    <li>キャラクター編成ページ（このページ）の戻ると、登録したキャラクターが表示される。</li>
  </ol>
  <p>※ このヘルプは <img src="../../../../../assets/icon_question.png" height="30px" /> からも確認できます。</p>
</div>
<div>
  <ul class="team-member" [id]="'team-member-list-' + iTeam">
    <li *ngFor="let member of teamMembers" draggable="true" [id]="'Team_' + iTeam + '_Member_' + member.id">
      <p-divider *ngIf="!member.hidden && member.onBorder" align="center"><b>編成枠</b></p-divider>
      <div class="list-item" [class.hidden]="member.hidden">
        <div class="image-column">
          <div [id]="'Team_' + iTeam + '_Member_ThumbBox_' + member.id" class="image-box" [class.image-shade]="!member.owned">
            <img [id]="'Team_' + iTeam + '_Member_Thumb_' + member.id" />
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-outlined delete-button"
              style="width: 20px; height: 20px"
              (click)="onTrashClick(member.id)"
            ></button>
          </div>
          <div class="sort-button-area">
            <button pButton pRipple type="button" icon="pi pi-chevron-down" style="width: 20px; height: 20px" (click)="onDownButtonClick(member.id)"></button>
            <button pButton pRipple type="button" icon="pi pi-chevron-up" style="width: 20px; height: 20px" (click)="onUpButtonClick(member.id)"></button>
          </div>
        </div>
        <div>
          <table [id]="'Team_' + iTeam + '_Member_Table_' + member.id">
            <colgroup>
              <col class="short-col" />
              <col class="long-col" />
            </colgroup>
          </table>
        </div>
      </div>
    </li>
    <!-- Dummy list element at the bottom of the list. -->
    <!-- It is needed to drag an element to the bottom. -->
    <li style="border: 0; list-style-type: none" [id]="'dummy-member-element-' + iTeam" draggable="false" class="dummy-member-element">&nbsp;</li>
  </ul>
</div>
