table {
  border-collapse: collapse;
}

th {
  background-color: azure;
  border: solid;
  border-color: var(--primary-color);
  border-width: thin;
}

td {
  border: solid;
  border-color: var(--primary-color);
  border-width: thin;
}
