<div class="main-background">
  <div class="main-body" id="MainBody">
    <app-announce></app-announce>
    <div class="tool-bar">
      <app-top-menu
        [signedIn]="userAuth.signedIn"
        (requestSignInEvent)="goToLoginPage()"
        (requestSignOutEvent)="signOut()"
        (requestGoHomeEvent)="goToStartupScreen()"
      ></app-top-menu>
    </div>
    <div class="tool-bar-m"><app-top-menu-m [menuItems]="sideMenuItemsM" (requestGoToHomeEvent)="goToStartupScreen()"></app-top-menu-m></div>
    <div class="container">
      <div class="side-menu"><app-side-menu [menuItems]="sideMenuItems"></app-side-menu></div>
      <div class="main-contents" id="MainContents">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!---->
<!-- Confirmation Dialog -->
<!---->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [position]="'top'"></p-confirmDialog>

<!---->
<!-- Spinner Dialog -->
<!---->
<p-dialog
  [(visible)]="spinnerShown"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  [showHeader]="false"
  [contentStyle]="{ 'background-color': 'transparent' }"
  styleClass="progress-dialog"
>
  <p-progressSpinner></p-progressSpinner>
</p-dialog>
