<!----------------------------------------------------------------------------->
<!-- New character form ------------------------------------------------------->
<!----------------------------------------------------------------------------->
<app-new-character-form
  [mode]="'normal'"
  [okLabel]="'入力内容確認'"
  [cancelLabel]="'キャンセル'"
  [(characterData)]="characterData"
  (canceled)="onNewCharacterFormResult($event)"
></app-new-character-form>

<!----------------------------------------------------------------------------->
<!-- Confirmation dialog ------------------------------------------------------>
<!----------------------------------------------------------------------------->
<p-dialog header="入力内容を確認してください。" [(visible)]="showConfirmationDialog" [modal]="true" [draggable]="false" [resizable]="false" [closable]="false">
  <app-new-character-confirmation
    *ngIf="showConfirmationDialog"
    styleClass="dialog"
    okLabel="ＯＫ"
    cancelLabel="キャンセル"
    buttonStyleClass="p-button-text"
    [character]="characterData"
    (canceled)="onNewCharacterConfirmResult($event)"
  ></app-new-character-confirmation>
</p-dialog>
