<div class="character-ownership-list-view">
  <!---->
  <!-- Header Area -->
  <!---->
  <div class="header">
    <!-- Filter button -->
    <button pButton type="button" icon="pi pi-filter" (click)="onFilterButtonClick()" style="flex: none"></button>

    <!-- Sort button -->
    <button pButton type="button" icon="pi pi-sort" (click)="onSortButtonClick()" style="flex: none"></button>

    <!-- Text search input. -->
    <div style="flex: auto">
      <span class="p-input-icon-right search-text-input">
        <i class="pi" [class.pi-times]="inputSearchText !== ''" (click)="onSearchTextClearButtonClick()"></i>
        <input type="text" pInputText [(ngModel)]="inputSearchText" placeholder="Search" style="width: 100%" (keydown.enter)="onTextSearchButtonClick()" />
      </span>
      <button pButton type="button" icon="pi pi-search" [disabled]="inputSearchText === ''" (click)="onTextSearchButtonClick()"></button>
    </div>

    <!-- Submit button. -->
    <span>
      <button
        id="ListCharacterOwnership_ApplyButton"
        pButton
        type="button"
        icon="pi pi-check"
        label="OK"
        (click)="onApplyButtonClick()"
        [disabled]="!changed"
        style="flex: none"
      ></button>
    </span>
  </div>

  <!---->
  <!-- Contents Area -->
  <!---->
  <div class="grid grid-nogutter">
    <div class="col-fixed" style="width: 38px">
      <p-checkbox
        [inputId]="'ListCharacterOwnership_Checkbox_All'"
        name="ListCharacterOwnership_Checkbox_All"
        [value]="true"
        [(ngModel)]="inputAllCheckboxSwitch"
        (onChange)="onAllCheckboxSwitchClick()"
      ></p-checkbox>
    </div>
    <div class="col">一括チェック</div>
  </div>
  <div class="content" id="ListCharacterOwnership_Content">
    <div *ngFor="let i of paginator.rowIndexes">
      <div class="grid grid-nogutter" *ngIf="i + paginator.firstItemIndex < filteredIndexes.length">
        <div class="col-fixed" style="width: 38px">
          <p-checkbox
            [inputId]="'ListCharacterOwnership_Checkbox_' + i"
            name="ListCharacterOwnership_Checkbox"
            [value]="i"
            [(ngModel)]="inputCharacterOwnershipStatuses"
            (onChange)="onIndivisualCheckboxClick(i, $event)"
          ></p-checkbox>
        </div>
        <div class="col">{{ characterLabels[i] }}</div>
      </div>
    </div>
  </div>

  <!---->
  <!-- Footer Area -->
  <!---->
  <div class="footer">
    <p-paginator
      [rows]="paginator.rowNum"
      [first]="paginator.firstItemIndex"
      [totalRecords]="filteredIndexes.length"
      [pageLinkSize]="paginator.pageLinkNum"
      styleClass="paginator"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  </div>
</div>

<!----------------------------------------------------------------------------->
<!-- Filter setting dialog ---------------------------------------------------->
<!----------------------------------------------------------------------------->
<p-dialog header="フィルタ設定" [(visible)]="filterDialogShown" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false" styleClass="dialog">
  <app-character-filter-settings-form
    [(filterSettings)]="filterSettings"
    buttonStyleClass="p-button-text"
    (canceled)="onFilterSettingsDialogResult($event)"
  ></app-character-filter-settings-form>
</p-dialog>

<!----------------------------------------------------------------------------->
<!-- Sort setting dialog ---------------------------------------------------->
<!----------------------------------------------------------------------------->
<p-dialog header="ソート設定" [(visible)]="sortDialogShown" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false" styleClass="dialog">
  <app-character-sort-settings-form
    [(sortSettings)]="sortSettings"
    buttonStyleClass="p-button-text"
    (canceled)="onSortSettingsDialogResult($event)"
  ></app-character-sort-settings-form>
</p-dialog>
