<div>
  <p>
    この利用規約（以下、本規約）は、本ウェブサイト上で提供するサービス（以下、本サービス）の利用規約を本サービスの管理者（以下、管理者）が定めるものです。
    ユーザーは本規約にしたがって本サービスをご利用いただきます。 なお、本規約は予告なく変更される場合があります。
  </p>

  <h3>第1条（適用）</h3>
  <p>1. 本規約は、ユーザーの本サービスの利用に関わる一切の関係に適用されます。</p>

  <h3>第2条（利用登録）</h3>
  <p>
    1.
    ユーザーは、対応する外部サービスのアカウント情報を利用することにより、本サービスにログインすることができます（ソーシャルログイン）。対応している外部サービスは以下の通りです。
  </p>
  <ul>
    <li>Googleアカウント</li>
  </ul>
  <p>2. アカウント情報の管理については、対応する外部サービスの利用規約に準じます。</p>

  <h3>第3条（利用料金）</h3>
  <p>1. ユーザーは、本サービスを無償で利用することができます。</p>

  <h3>第4条（禁止行為）</h3>
  <p>1. 本サービスの利用にあたり、以下の行為を禁止します。</p>
  <ul>
    <li>法令または公序良俗に反する行為。</li>
    <li>その他、管理者が不適切と判断する行為。</li>
  </ul>

  <h3>第5条（提供の停止）</h3>
  <p>1. 管理者は、ユーザーへの事前の通知なく、本サービスの全部または一部の提供を停止または中断することがあります。 想定される主な要因は以下の通りです。</p>
  <ul>
    <li>本サービスまたは本サービスにかかるコンピュータシステムの保守点検または更新を行う場合。</li>
    <li>天災や事故等により、本サービスの提供が困難になった場合。</li>
    <li>引用著作物の権利者から引用停止の申し立てがあった場合。</li>
    <li>その他、管理者が本サービスの提供を止めたくなった場合。</li>
  </ul>
  <p>2. 本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害について、管理者は一切の責任を負わないものとします。</p>

  <h3>第6条（利用制限および登録抹消）</h3>
  <p>1. ユーザーが以下のいずれかに該当する場合、管理者は事前の通知なく本サービスの利用の制限や登録情報の抹消をすることができるものとします。</p>
  <ul>
    <li>本規約のいずれかに違反した場合。</li>
    <li>本サービスの最終利用日から一定期間が経過した場合。</li>
    <li>その他、管理者が必要と判断した場合。</li>
  </ul>
  <p>2. 本条項に基づき管理者が行った行為によりユーザーまたは第三者に生じた不利益または損害について、管理者は一切の責任を負わないものとします。</p>

  <h3>第7条（利用登録の削除）</h3>
  <p>1. ユーザーは、所定の手続きにより本サービスにかかるユーザー情報を削除することができます。 詳細はサポートメニューの「登録削除」タブよりご確認ください。</p>

  <h3>第8条（保証および免責）</h3>
  <p>
    1. 管理者は、本サービスに起因してユーザーまたは第三者に生じたあらゆる不利益または損害について、
    管理者の故意又は重過失による場合を除き、一切の責任を負わないものとします。
  </p>
  <p>2. ユーザーと他のユーザーまたは第三者との間に生じた取引、連絡または紛争について、管理者は一切の責任を負わないものとします。</p>
  <p>
    3. 管理者は、本サービスに事実上または法律上の瑕疵
    （安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）
    がないことを明示的にも黙示的にも保証しておりません。
  </p>

  <div>
    <p>以上</p>
  </div>
</div>
