<div>
  <h3>第1条（適用）</h3>
  <p>1. 本規約は、ユーザーの本サービスの利用に関わる一切の関係に適用されます。</p>

  <h3>第2条（利用登録）</h3>
  <p>1. ユーザーは、Googleアカウント経由で本サービスにログインすることができます（ソーシャルログイン）。</p>

  <h3>第3条（利用料金）</h3>
  <p>1. 本サービスを無償で利用することができます。</p>

  <h3>第4条（提供の停止）</h3>
  <p>1. 管理者は、ユーザーへの事前の通知なく、本サービスの全部または一部の提供を停止または中断できるものとします。</p>

  <h3>第5条（利用登録の削除）</h3>
  <p>1. ユーザーは、所定の手続きにより本サービスにかかるユーザー情報を削除することができます。 詳細はサポートメニューの「登録削除」タブよりご確認ください。</p>

  <h3>第6条（保証および免責）</h3>
  <p>
    1. 管理者は、本サービスに起因してユーザーまたは第三者に生じたあらゆる不利益または損害について、
    管理者の故意又は重過失による場合を除き、一切の責任を負わないものとします。
  </p>
  <p>
    2. 管理者は、本サービスに事実上または法律上の瑕疵
    （安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）
    がないことを明示的にも黙示的にも保証しておりません。
  </p>

  <div>
    <p>以上</p>
  </div>
</div>
