.header-container {
  display: flex;
  justify-content: space-between;

  .left-side {
    display: flex;

    .radio-button {
      margin-right: 1em;
    }
  }
}

// Input switch.
:host ::ng-deep .p-inputswitch {
  width: 40px;
  height: 22px;
  margin-top: 4px;

  .p-inputswitch-slider::before {
    width: 16px;
    height: 16px;
    margin-top: -8px;
  }
}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider::before {
  transform: translateX(16px);
}

.character-image {
  max-width: 100%;
}

table {
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;

  .short-col {
    width: 30%;
  }

  .long-col {}
}

.footer-container {
  margin: 1rem 0;
}

:host ::ng-deep .progress-dialog.p-dialog {
  box-shadow: none;
}

@media screen and (max-width: 959px) {
  // Table.
  table {
    width: 100%;
    font-size: xx-small;
  }

  // Radio button.
  :host ::ng-deep .p-radiobutton {
    width: 16px;
    height: 16px;

    .p-radiobutton-box {
      width: 16px;
      height: 16px;
    }

    .p-radiobutton-icon {
      width: 10px;
      height: 10px;
    }
  }

  label {
    font-size: small;
  }

  // Input switch.
  :host ::ng-deep .p-inputswitch {
    width: 24px;
    height: 14px;

    .p-inputswitch-slider::before {
      width: 8px;
      height: 8px;
      margin-top: -4px;
    }
  }

  :host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider::before {
    transform: translateX(8px);
  }
}
