<!---->
<!-- Image preview -->
<!---->
<div class="header-container">
  <div class="left-side">
    <div *ngFor="let item of imageTypes; let i = index" class="field-checkbox radio-button">
      <p-radioButton
        [inputId]="'Character_ImageTypeInput_' + item.type"
        name="Character_ImageTypeInput"
        [value]="item"
        [(ngModel)]="selectedImageType"
        (onClick)="onImageTypeClick()"
        [disabled]="!images[i].valid"
      ></p-radioButton>
      <label [for]="'Character_ImageTypeInput_' + item.type">{{ item.label }}</label>
    </div>
  </div>
  <div class="right-side field-checkbox">
    <label for="Character_HasSwitch" style="margin-right: 0.5rem">所持</label>
    <p-inputSwitch id="Character_HasSwitch" [(ngModel)]="hasThisCharacter" (onChange)="onHasSwitchChange($event)"></p-inputSwitch>
  </div>
</div>
<img id="Character_ImagePreview" class="character-image" />

<!---->
<!-- Characer Information. -->
<!---->
<div>
  <table id="Character_Table">
    <colgroup>
      <col class="short-col" />
      <col class="long-col" />
    </colgroup>
  </table>
</div>

<!---->
<!-- Edit button. -->
<!---->
<div class="footer-container">
  <p-button label="編集"></p-button>
</div>

<!---->
<!-- Confirmation Dialog -->
<!---->
<!--<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [position]="'top'"></p-confirmDialog>-->
